h1{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
  
}
.time{
    width: 10%;
}
 table  tr td{
    border: 1px solid #000;
}
.button{
    font-size: 14px;
}
.main-nav{
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
}
.nav{
    justify-content: center;
}